<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <clear />
    <!--<add name="Sys" providerName="SqlServer" connectionString="server=10.5.86.45;uid=sa;pwd=qwer1234!@#$;database=DWMP" />-->
    <!-- VPN-->
    <!--<add name="Sys" connectionString="Data Source= (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = 10.5.86.45)(PORT = 85))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = ORCL)
    )
  );User ID=ZTHC;Password=ZTHC;Persist Security Info=True" providerName="Oracle" />-->

    <!-- 测试地址-->    
    <!--<add name="Sys" connectionString="Data Source= (DESCRIPTION =&#xD;&#xA;   (ADDRESS = (PROTOCOL = TCP)(HOST = 10.6.100.1)(PORT = 1521)) &#xD;&#xA;   (CONNECT_DATA =&#xD;&#xA;          (SERVER = DEDICATED)&#xD;&#xA;          (SERVICE_NAME = ORCL) )&#xD;&#xA;    );User ID=ewms;Password=Yxszck1234;Persist Security Info=True"  providerName="Oracle"/>-->
    <!--正式地址-->
    <add name="Sys" connectionString="Data Source= (DESCRIPTION =&#xD;&#xA;   (ADDRESS = (PROTOCOL = TCP)(HOST = 10.6.100.30)(PORT = 1521)) &#xD;&#xA;   (CONNECT_DATA =&#xD;&#xA;          (SERVER = DEDICATED)&#xD;&#xA;          (SERVICE_NAME = YXDB) )&#xD;&#xA;    );User ID=wms;Password=zmyxwms123;Persist Security Info=True"  providerName="Oracle"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--禁用VS2013的Browser Link-->
    <add key="vs:EnableBrowserLink" value="false" />
    <!--为了能保证监视能正常工作，还需要确保网站bin目录下存在ClownFishProfilerLib.dll文件， 此文件订阅了前面所说的事件，并通过Remoting给ClownFishSQLProfiler.exe发送应用程序访问数据库的所有操作细节。 当ClownFishProfilerLib.dll不存在时，ClownFishSQLProfiler.exe不会收到任何通知，但并不影响网站正常运行。-->
    <add key="EnabledClownFishProfiler" value="true" />
    <!--实体类型的加载器自动编译模式下，定时器的执行频率必须大于 3000 。单位：毫秒。【系统默认设置1分钟】-->
    <add key="AutoCompileTimerPeriod" value="60000" />

    <!--配置登录默认失效时长(单位)：小时-->
    <add key="LoginEffectiveHours" value="0.5" />
    <add key="EasyuiVersion" value="1.4.4" />
    <add key="SystemVersion" value="v1.0" />
    <!--是否使用正式环境接口，true为连接正式环境，false为测试环境-->
    <add key="IsProductWebService" value="true"/>
    <!--系统版本-->

    <!--重置密码-->
    <add key="ResultPWD" value="123" />

    <!--同步频率为10分钟的取当前时间的前20分钟-->
    <add key="10Min" value="1440" />
    <!--同步频率为1天的取当前时间的前两天-->
    <add key="1Day" value="2880" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MaxItemsInObjectGraph">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="cuxwms" closeTimeout="00:05:00" openTimeout="00:05:00"
          receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="POVENDORS" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="CATEGORIES" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="ITEMS" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />

        <!-- 以下为正式环境配置-->
        <binding name="ztwms" closeTimeout="00:05:00" openTimeout="00:05:00"
         receiveTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="2147483647"
         maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="VENDORS" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="CATEGORIES1" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="ITEMS1" receiveTimeout="00:30:00" sendTimeout="00:30:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.3.169:9099/org.gocom.esb.ws.route/cuxws/wms"
        binding="basicHttpBinding" bindingConfiguration="cuxwms" contract="BusinessServices.cuxwms"
        name="cuxwmsPort" />
      <endpoint address="http://172.16.3.169:9099/org.gocom.esb.ws.route/erp/scmitems"
        binding="basicHttpBinding" bindingConfiguration="ITEMS" contract="ItemsServices.ITEMS"
        name="ITEMSPort1" />
      <endpoint address="http://172.16.3.169:9099/org.gocom.esb.ws.route/erp/scmcg"
        binding="basicHttpBinding" bindingConfiguration="CATEGORIES"
        contract="CategoryServices.CATEGORIES" name="CATEGORIESPort1" />
      <endpoint address="http://172.16.3.169:9099/org.gocom.esb.ws.route/erp/scmvendors"
        binding="basicHttpBinding" bindingConfiguration="POVENDORS"
        contract="VendorServices.POVENDORS" name="POVENDORSPort1" />
      <!-- 以下为正式环境地址-->
      <endpoint address="http://172.16.3.182:9099/org.gocom.esb.ws.route/scm/items"
        binding="basicHttpBinding" bindingConfiguration="ITEMS1" contract="ProductItemsServices.ITEMS"
        name="ITEMSPort" />
      <endpoint address="http://172.16.3.182:9099/org.gocom.esb.ws.route/cuxws/wms"
        binding="basicHttpBinding" bindingConfiguration="ztwms" contract="ProductBusinessServices.ztwms"
        name="ztwmsPort" />
      <endpoint address="http://172.16.3.182:9099/org.gocom.esb.ws.route/scm/categories"
        binding="basicHttpBinding" bindingConfiguration="CATEGORIES1"
        contract="ProductCategoryServices.CATEGORIES" name="CATEGORIESPort" />
      <endpoint address="http://172.16.3.182:9099/org.gocom.esb.ws.route/scm/vendors"
        binding="basicHttpBinding" bindingConfiguration="VENDORS" contract="ProductVendorServices.VENDORS"
        name="VENDORSPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="1.2.10.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
