<div class="modal" ng-controller="KisBpmChoseAssignmentCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2 translate>PROPERTY.ASSIGNMENT.TITLE</h2>
            </div>
            <div class="modal-body">
            	 <div class="row row-no-gutter">
				      <div class="col-xs-3">
							<div class="stencils" id="z_tree">
				                    <div ng-repeat="role in roles">
				                        <ul class="stencil-group"  ng-class="{collapsed: !group.expanded, 'first': $first}">
											<li ng-class='{focus: $index==focus}'>
				                            	<span ng-click="getAllAccountByRole($index,role.id)" ng-value="{{role.id}}" style="font-size:12px" >
											        {{role.name}}
											    </span>
				                            </li>
				                        </ul>
				                    </div>
								<ul class="pagination" style="margin: 0px;" >
									<!--<li ng-class="{true:'disabled'}[p_current_role==1]"><a href="javascript:void(0);" ng-click="p_index_role()">首页</a></li>-->
									<li ng-repeat="page_role in pages_role" ng-class="{true:'active'}[p_current_role==page_role]"><a href="javascript:void(0);" ng-click="load_page_role(page_role)">{{ page_role }}</a></li>
									<!--<li ng-class="{true:'disabled'}[p_current_role==p_all_page_role]"><a href="javascript:void(0);" ng-click="p_last_role()">尾页</a></li>-->
								</ul>

						     </div><span style="vertical-align: 12px;">角色记录  -- 共：{{count_role}} 条</span>
					</div>
					<div class="col-xs-8">
					    <table class="table table-bordered table-condensed">
					    	<thead>
					    		<tr>
					    			<th><input ng-if="choseAssignmentFlag=='assignees'" type="checkbox" ng-click="selectAll($event)"></th>
					    			<th>工号</th>
					    			<th>姓名</th>
					    		</tr>
					    	</thead>
					    	<tbody>
					    		<tr ng-repeat="account in accounts">
									<td>
										<input ng-if="choseAssignmentFlag=='assignee'" type="radio" ng-model="formData.assignee" name="accountId" ng-value="{{account.code}}"
											   ng-click="selectRadio(account)">
										<input ng-if="choseAssignmentFlag=='assignees'" type="checkbox" ng-model="account.selected" name="accountId" ne-true-value="{{account.code}}"
											   ng-false-value="false" ng-click="selectRadio(account)">
									</td>
					    			<td>{{account.code}}</td>
					    			<td  ng-value="{{account.name}}">{{account.name}}</td>
					    		</tr>
					    	</tbody>
					    </table>
						<!-- paging -->
						<ul class="pagination" style="margin: 0px;" >
							<li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="p_index()">首页</a></li>
							<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)">{{ page }}</a></li>
							<li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="p_last()">尾页</a></li>
						</ul>
						<span style="vertical-align: 12px;">  共：{{count}} 条</span>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button ng-click="close()"  translate>ACTION.CANCEL</button>
                <button ng-click="save()"  translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
	ul .focus{background-color:#ccc}
</style>